.bg-dark {
  background-color: $brand-dark;
  color: $brand-light
}
.bg-light {
  background-color: $brand-light;
  color: $brand-dark
}
.bg-contrast {
  background-color: $brand-contrast;
  color: $brand-light
}
