.info-banner {
  background-color: $brand-contrast;
  color: $brand-light;
  height: 360px;
  width: 100%;
  padding-top: 85px;
}

.banner-text {
  background-color: $brand-light;
  color: $brand-dark;
  text-align: center;
  padding-top: 150px;
  height: 500px;

}
