/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// Often used
a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.text-bullseye {
  text-align: center;
  color: inherit;
  display: flex;
  align-items: center;
  padding: 0px 75px 0px 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

// Index Page
.index-lrg-visual {
  background-image: url(../images/feiko_talk.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 68px;
  background-color: rgba(248, 247, 216, 0.7);

    // width: 100%;
    // height: 100%;
  h1 {
    color: $brand-light;
  }
}

.container-center-card {

  #student-attributes {
  height: 250px;
  width: 250px;
  // position: relative;
  top: 60%;
  left: 50%;
}
  .center-p-tag {
  text-align: center;
  color: inherit;
  display: flex;
  align-items: center;
  padding: 45px 75px 0px 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
}



// CONTACT PAGE STYLE _ TRANSFER WHEN FILE WORKS //
.contact-banner {
  background-color: $brand-dark;
  color: $brand-light;
  height: 100%;
  width: 100%;
  padding-top: 180px;
  padding-bottom: 180px;

}

.contact-header {
text-align: center;
align-items: center;
}

.icons{
  text-align: center;
  font-size: 80px;
  color: $brand-light;
  word-spacing: 200px;
  padding-top: 200px;
  :hover{
    transition: color 400ms ease-in;
    color: $brand-contrast;
  }
}

#contact-card {
  text-decoration: none;
}

body.contact .footer-container {
   display: none;
}






// .index-lrg-visual > h3 {
//   color: $brand-light;
// }

#intro-position {
  padding-top: 380px;

  // h1, a {
  //   text-shadow: 0px 1px 2px #000000;
  // }
}
