/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
// Often used
a {
  color: inherit;
}

a:hover {
  color: inherit;
}

.text-bullseye {
  text-align: center;
  color: inherit;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0px 75px 0px 75px;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

// Index Page
.index-lrg-visual {
  background-image: url(../images/background-temp.jpg);
  background-size: cover;
  height: 100vh;
  padding-top: 68px;
  h1 {
    color: $brand-light;
  }
}

// .index-lrg-visual > h3 {
//   color: $brand-light;
// }

#intro-position {
  padding-top: 500px;
}
