<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<div class="footer-container">
  <div class="row">
    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
  </div>
</div>


