<div class="col-md-12 col-lg-12 menu-left bg-dark menu-transition-hidden">
  <div class="menu-headers">
    <div>
      <a href="about.html">About
      <span class="menu-headers-small">  my interests</span></a>
    </div>
    <div>
      <a href="resume.pdf" target="_blank">Resume <i class="fa fa-cloud-download" style="font-size: 30px;"></i>
      <span class="menu-headers-small">  education & more</span></a>
    </div>
    <div>
      <a href="portfolio.html">Portfolio
      <span class="menu-headers-small">  what I have built</span></a>
    </div>
    <div>
      <a href="contact.html">Contact
      <span class="menu-headers-small">  drop me a line</span></a>
    </div>
  </div>
<a href="#" id="return-item">&laquo; Return</a>
</div>

