<div class="navbar-container navbar-fixed">

  <!-- Left Navigation  (create wagon-left in CSS) -->
  <div class="navbar-left col-md-6 col-hidden-xs hidden-sm">
    <h3 class="text-center"><a href="#">About</a></h3>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-right col-md-6 hidden-xs hidden-sm">
    <h3 class="text-center"><a href="#">Mystery Page</a></h3>
  </div>
</div>

    <!--
          PROFILE PICTURE AND DROP DOWN
    <div class="navbar-wagon-item navbar-fixed">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Portfolio</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div> -->

 <!-- Profile picture and dropdown

    <div class="navbar-wagon-item navbar-fixed">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>

  Dropdown appearing on mobile only
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
-->
