<!-- <div class="container"> -->
<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="banner-text">
      <h2>Get to know me</h2>
      <p>A representation of my interests and hobbies</p>
    </div>
  </div>
</div>
<!-- </div> -->

<!-- <div class="container"> -->
<div class="row">
  <div class="col-md-4 about-card bg-light" style="background-image: url(images/knife_food.jpeg); background-size: cover;">
    <div class="about-card-hover">
      <h3 class="text-bullseye">Passion for food</h3><p class="text-bullseye">From childhood I have had a passion for food. Growing up with bourgandy influences a strong interest in fine tuning my cooking skills was born. My passion for food resulted in graduating with merits from the Le Cordon Bleu culinair institute.</p>
    </div>
  </div>
  <div class="col-md-4 about-card bg-dark" style="background-image: url(images/travel_gear.jpeg)">
    <div class="about-card-hover">
      <h3 class="text-bullseye">Love exploring new places</h3>
      <p class="text-bullseye">Curious as I am, I love to explore new (culinair) cultures, meet new people and learn from them.</p>
    </div>
  </div>
  <div class="col-md-4 about-card bg-light" style="background-image: url(images/study_desk.jpg)">
    <div class="about-card-hover">
     <h3 class="text-bullseye">Eager to learn</h3>
     <p class="text-bullseye">I am always eager to learn new interesting things and skills, in particulair learning more about tech, design and associated skills. I often ask the question behind the question. I enjoy problem solving especially when Tech is part of the solution.</p>
   </div>
 </div>
 <div class="col-md-4 about-card bg-light" style="background-image: url(images/dive.jpeg)">
  <div class="about-card-hover">
   <h3 class="text-bullseye">Adventurous</h3>
   <p class="text-bullseye">Having an adventurous personality I enjoy doing sports and being out in nature. I like to challenge boundries and restrictions. Having made hundreds of dives around the world resulted in achieving my DiveMaster degree as well as the valuable experience in teaching others how to dive.</p>
 </div>
</div>
<div class="col-md-4 about-card bg-dark" style="background-image: url(images/friends-family.jpg)">
  <div class="about-card-hover">
   <h3 class="text-bullseye">Friends & Family</h3>
   <p class="text-bullseye">At first I may come across as a calm and reserved person but actually I enjoy meeting new people and spending time with friends and family. I value loyalty and honesty, have respect for merit and effort, and will not put up with insincerity.</p>
 </div>
</div>
<div class="col-md-4 about-card bg-light" style="background-image: url(images/card-feiko.jpg)">
  <div class="about-card-hover">
   <h3 class="text-bullseye"> <a href="contact.html" id="contact-card">Fancy a meet up?</a></h3>
   <p class="text-bullseye"></p>
 </div>
</div>
</div>
<!-- </div> -->

