---
title: Feiko Boerstra
---

<div class="text-center index-lrg-visual">
  <div id="intro-position">
    <h1> Portfolio </h1>
    <a href="portfolio.html" class="btn">Portfolio</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center info-banner">
    <h2>Feiko Boerstra</h2>
    <a href="about.html" class="btn">Get to know me</a>
  </div>
</div>


<div class="row">
  <div class="col-md-4 col-lg-4 bg-light">
    <div class="text-bullseye" style="height:310px;">
     <div>
       <h2>
         Today
       </h2>
       <p>
         Currently (May '16) I am busy becoming a full stack web developer. I am eager to learn and further develop myself as a programmer.
       </p>
     </div>
   </div>
 </div>

 <div class="col-md-4 col-lg-4 bg-dark">
   <div class="container-center-card" style="height:310px;">
   </div>
 </div>

 <div class="col-md-4 col-lg-4 bg-light">
  <div class="text-bullseye" style="height:310px;">
   <div>
     <h2 id="test">
       Tomorrow
     </h2>
     <p>
       I'm interested in working for companies where creativity, tech-solutions, learning are among the core values.
     </p>
   </div>
 </div>
</div>



<!-- Footer -->

<!-- Pages -->
