---
title: Feiko Boerstra
---

<div class="text-center index-lrg-visual">
  <div id="intro-position">
  <!--   <h1> Portfolio </h1>
    <a href="portfolio.html" class="btn">Portfolio</a> -->
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-12 text-center info-banner">
    <h2>Feiko Boerstra</h2>
    <a href="about.html" class="btn">Get to know me</a>
  </div>
</div> -->



<!-- Footer -->

<!-- Pages -->
