---
title: Feiko Boerstra
---

<div class="text-center index-lrg-visual">
  <div id="intro-position">
    <h1> Portfolio </h1>
    <a href="#" class="btn">Get to know me</a>
  </div>
</div>


<div class="col-md-12 text-center info-banner">
  <h2>Feiko Boerstra</h2>
  <a href="#" class="btn">Get to know me</a>
</div>

<div class="col-md-4 bg-light">
  <div class="text-bullseye" style="height:400px;">
   <div> <h2>In the now</h2>
     <p>Currently (May '16) I am busy becoming a full stack web developer. I am eager to learn and further develop myself as a programmer. I also consider myself to be a creative centipede with an interst solving entrepreneurial problems with tech solutions.</p></div>
   </div>
 </div>
 <div class="col-md-4 bg-dark">
  <div class="" style="height:400px;">
    <p></p>
  </div>
</div>
<div class="col-md-4 bg-light">
  <div class="text-bullseye" style="height:400px;">
   <div><h2>Future</h2>
     <p>I'm interested in working for companies where creativity, tech-solutions, education are core values.</p></div>
   </div>
 </div>


 <!-- Footer -->

 <!-- Pages -->
