<div class="container" style="padding-top: 60px;">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="portfolio-layout">

        <h1>Coding</h3>

          <div class="col-md-5 project-card">
            <h2>DineCity</h2>
            <p>A fully functioning website focussed on helping restaurant owners to attract new customers and solve their empty tables problem.</p>
          </div>
          <div class="col-md-7">
            <%= image_tag "dinecity.png", { :class=>"dinecity-image" } %>
          </div>




          <div class="col-md-10 col-md-offset-1">
            <div class="portfolio-layout">

            <h1>Personal Projects</h3>

                <div class="col-md-5 project-card">
                  <h2>CaterGo</h2>
                  <p>Founded a platform for B2B & B2C catering solutions</p>
                </div>
                <div class="col-md-7">
                  <%= image_tag "dinecity.png", { :class=>"dinecity-image" } %>
                </div>


                <div class="feiko-projects">
                  <h3>Personal projects</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum odio est consequuntur.</p>
                </div>


              </div>
            </div>
          </div>
        </div>
