<div class="container portfolio-layout" style="padding-top: 45px;">

  <div class="row">
    <div class="col-md-12">
      <div class="coding">

        <h2>Coding</h2>
        <br>
        <br>
        <br>

        <div class="col-md-5 project-card">
          <h3>12Restaurants.com</h3>
          <p>A fully functioning website with cms system focussed on helping restaurant owners to attract new customers and solve their empty tables problem. Serving both local market and tourist market in finding the their restaurant.</p>
        </div>
        <div class="col-md-6">
          <a href="http://www.12restaurants.com"> <%= image_tag "dinecity.png", { :class=>"dinecity-image" } %></a>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
<hr>

  <div class="row">
    <div class="col-md-12">
      <div class="personal">
        <h2>Personal Projects</h2>
        <br>
        <br>
        <br>
        <div class="col-md-5 project-card">
          <h3>CaterGo</h3>
          <p>Founded a platform for B2B & B2C catering solutions. We mainly help businesses in finding their catering solutions. It allows to use filters when searching for caterers.</p>
        </div>
        <div class="col-md-6">
        <a href="http://www.catergo.nl">  <%= image_tag "catergo.png", { :class=>"dinecity-image" } %></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="feiko-projects">
  <h1>Personal projects</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae illum odio est consequuntur.</p>
</div>
 -->
